################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EFCoreWenAPI/EFCoreWenAPI/bin/Debug/net8.0
/EFCoreWenAPI/.vs
